@font-face {
    font-family: "dd20";
    src: url("../core/fonts/bookmanold.otf");
}

@font-face {
    font-family: "title";
    src: url("../core/fonts/oldnewspaper.otf");
}

.header {
    height: 15vh;        
    text-align: center;
    color: white;
    background-color: black;
    padding: 0.25em;
    font-size: 200%;   
	font-family: "title";
}

.logo {
    height: 15vh;
    float: left;
	position: absolute;
	left: 0;
	top: 0;
}


.section-dragon {
    background-image: url(../core/images/index/index-gate.jpg);
    height: 40vh;
    background-size: cover;
    background-position-y: center;
    background-position-x: center;   
    width: 100%;
	font-family: "dd20";
	justify-content: center;
	display: flex;
	padding-top:5vh;
	flex-wrap:wrap;
}

.section-text {
	color: white;	
  	height: 20vh;
  	font-size: 150%;
	padding: 2rem;  
	font-family: "dd20";
	display: flex;
	justify-content: center;
	width: 60%;
	margin-top: 5rem;
	margin-left: 10%;
}

.dragon-texto {	
	color: white;
	padding: 1rem;
	float: left;
	font-size: 150%;
	font-family: "dd20";
	margin-left: 2rem;	
	display: flex;
    flex-direction: column;
    justify-content: space-around;
	width: 40%;

}


.dragon-video {
	margin: 1rem;
	height: 26vh;
}


.columna {
    padding: 1rem;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
	width: 25%;    
}

.title-dragon {
	height: 10vh;
	font-size: 200%;
	font-family: "dd20";
}

.button {
    background-color: #61ce70;
    padding: 0.5rem;
    border-radius: 0.25rem;
	text-align: center;
	margin: 1rem;
}


p {
	padding: 1rem;
	line-height: 1.38;
}

.secciones3 {
	display: flex;
	flex-direction: row;
	flex-wrap:wrap;
}



@media (min-width: 960px) and (max-width: 1280px) {
	 .section-dragon {
        font-size: 85%; 
		
		padding-top:1rem;
		 height: 50vh;
    }
	
	.header{
		font-size: 125%;   
		height:auto;
	}
	
}

@media (min-width: 512px) and (max-width: 960px) {
	
	.dragon-texto {	
		width: 100%;
	}
	
    .section-dragon {
        font-size: 85%; 
		flex-direction: column;
		height:auto;
		padding-top:1rem;
    }

    .section-text {
     	flex-direction: column;		
		height:auto;
    }
	.header{
		font-size: 125%;   
		height:auto;
	}
	.section-text {
		height:auto;
	}
	.dragon-video {
		height:auto;
		margin: 2rem;
		width: 90%;
	}	
	
	.button {
		font-size: 85%; 
	}
	
}

@media (max-width: 512px) {
	
	.dragon-texto {	
	width: 100%;
	}
	
	
    .section-dragon {
        font-size: 75%; 
		flex-direction: column;
		height:auto;
		padding-top:1rem;
    }

    .section-text {
     	flex-direction: column;		
		height:auto;
    }
	.header{
		font-size: 100%;   
		height:auto;
	}
	.section-text {
		height:auto;
	}
	.dragon-video {
			height:auto;
		margin: 2rem;
		width: 90%;
	}
		
	.button {
		font-size: 85%; 
	}
	
	.columna {
		width: 37%;
	}
}

@media (orientation: portrait) {
	
	.logo {
		height: 8vh;
		margin-top: 2vh;
	}
}






.content {
	display: flex;
	flex-direction: column;
}
