<!doctype html>
<html>
<head>
</head>
<body>
<div class="col-md-9" role="main"><h1 id="half-dragon-template">Half-Dragon Template</h1>
<p>A beast, humanoid, giant, or monstrosity can become a half-dragon. It keeps its statistics, except as follows.  <br/>
<strong>Challenge</strong>. To avoid recalculating the creature's challenge rating, apply the template only to a creature that meets the optional prerequisite in the Breath Weapon table below. Otherwise, recalculate the rating after you apply the template.  <br/>
<strong>Senses</strong>. The half-dragon gains <a href="../../../../../core/SRD5en/gamemaster_rules/monsters/index.html#blindsight">Blindsight</a> with a radius of 10 feet and <a href="../../../../../core/SRD5en/gamemaster_rules/monsters/index.html#darkvision">Darkvision</a> with a radius of 60 feet.  <br/>
<strong>Resistances.</strong> The half-dragon gains resistance to a type of damage based on its color. </p>
<table>
<thead>
<tr>
<th>Color</th>
<th>Damage Resistance</th>
</tr>
</thead>
<tbody>
<tr>
<td>Black or copper</td>
<td>Acid</td>
</tr>
<tr>
<td>Blue or bronze</td>
<td>Lightning</td>
</tr>
<tr>
<td>Brass, gold, or red</td>
<td>Fire</td>
</tr>
<tr>
<td>Green</td>
<td>Poison</td>
</tr>
<tr>
<td>Silver or white</td>
<td>Cold</td>
</tr>
</tbody>
</table>
<p><strong>Languages</strong>. The half-dragon speaks Draconic in addition to any other languages it knows.  <br/>
<strong>New Action: Breath Weapon.</strong> The half-dragon has the breath weapon of its dragon half. The half-dragon's size determines how this action functions.</p>
<table>
<thead>
<tr>
<th>Size</th>
<th>Breath Weapon</th>
<th>Optional Prerequisite</th>
</tr>
</thead>
<tbody>
<tr>
<td>Large or smaller</td>
<td>As a wyrmling</td>
<td>Challenge 2 or higher</td>
</tr>
<tr>
<td>Huge</td>
<td>As a young dragon</td>
<td>Challenge 7 or higher</td>
</tr>
<tr>
<td>Gargantuan</td>
<td>As an adult dragon</td>
<td>Challenge 8 or higher</td>
</tr>
</tbody>
</table></div>
</body>
</html>