/*                                              */
/*   Fonts styles                               */
/*                                              */

@font-face {
     font-family: 'title';     
     src: url('./fonts/OldNewspaperTypes.ttf') format('truetype');
 }

@font-face {
     font-family: 'dd20';    
     src: url('./fonts/BOOKOS.TTF') format('truetype');
 }

.print {
    font-family: 'dd20';
    line-height: 1.38;
    font-size: 10pt;
}

h4 {
    font-size: 250%;
    margin-top: 1.5em;
    margin-bottom: 0.5em;     
    color: black;
    font-weight: bold;
    text-align: center;    
    page-break-before: always;
}

body
{
  margin: 10mm 10mm 10mm 10mm;
}

@media print  {
    
    h1 {
        page-break-after: avoid;    
        color: black;
        border-bottom: none;
    }
    
    h2 {
        page-break-after: avoid;    
        color: black;
         
        border-bottom: thin solid black;
    }
    
    h3 {
        page-break-after: avoid;    
        color: black;
    }
    
    h5 {
        page-break-after: avoid;    
        color: black;
    }
   
blockquote {
  font-style: italic;
  font-weight: normal;
  quotes: none;    
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  background: none;
}
    
a:hover {
    color: black;
    font-weight: bold;
}

}